.round_container {
  padding-bottom:5px;
  padding-top:8px;
  display: flex;
  width: 100vw;
  flex-direction: row;
  align-items: center;
  background-color: #2f4927;
  border-top:1px solid #141a13;
  border-bottom:1px solid #141a13;
  .hole_text {
    padding-left: 10px;
    padding-right: 20px;
    font-size: 23px;

    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
  }
  .round_list {
    align-items: center;
    width: 100%;
    flex: 1;
    position: relative;
    overflow-x: auto;
    height: 45px;

    white-space: nowrap;
    &::-webkit-scrollbar {
      display: none;
    }
    .real_list {
      position: absolute;
      left: 0;
      align-items: center;
      height: 45px;
      vertical-align: middle;

      .round_button {
        display: inline-block;
        padding: 8px 20px;
        vertical-align: middle;
        border-radius: 100px;
        position: relative;
        color: #87f357;
        &:first-child {
     
        }
        &:last-child {
          margin-right: 15px;
        }

        .round_warning {
          position:absolute;
          right:0;
          top:0px;
          z-index: 999;
          background:red;
          width:20px;
          height:20px;
          display: flex;
          justify-content: center;
          color:#fff;
          font-size:18px;
          align-items: center;
          border-radius: 100px;
        }
      }
      .active {
        background: #87f357;
        font-weight: bold;
        font-size: 25px;
        color: #111;
      }
    }
  }
}

// .round_container {
//     display: flex;
//     align-items: center;
//     border-top: 1px solid #0a0a0b;
//     border-bottom: 1px solid #0a0a0b;
//     background: #2f4927;
//     height:8vh;
//     .hole_text {
//         padding-left: 3vw;

//         font-size:23px;

//         color:#fff;
//         text-transform: uppercase;
//         font-weight: bold;
//         display: inline-block;
//     }

//   .round_list {

//     overflow-x: auto;
//     white-space: nowrap;
//     max-width:82vw;

//     &::-webkit-scrollbar {
//       display: none;
//     }

//     .round_button {
//       display: inline-block;
//       padding: 8px 20px;
//       vertical-align: top;

//       border-radius: 100px;
//       color: #87f357;

//       &:first-child {
//         margin-left: 10px;
//       }

//     }

//     .active {
//       background:#87f357;
//       font-weight: bold;
//       font-size:25px;
//       color: #111;
//   }

//   }
// }
