.container_bottom {
  display: flex;
  flex: 1;
  background: #33683a;
  border-top: 1px solid #0a0a0b;
  max-height: 20vh;
  color: #fff;
  .buttons_container {
    flex: 1;
    display: flex;
    .buttons_main {
      flex: 1;
      display: flex;
      position: relative;
      .buttons_table {
        flex: 1;
        display: table;
        .table_row {
          display: table-row;
          .table_cell {
            display: table-cell;
            width: 33.3%;
            font-weight: bold;
            font-size: 30px;
            vertical-align: middle;
            box-shadow: inset 0 0 25px rgba($color: #000, $alpha: 0.2);
            color: #87f357;
         
            text-align: center;
            border-right: 1px solid rgba($color: #000000, $alpha: 0.4);
            border-top: 1px solid rgba($color: #000000, $alpha: 0.4);
          }
        }
        .top_cell {
          .table_cell {
            border-top: 0;
          }
        }
      }
    }
    .buttons_right {
      width: 30vw;
      display: flex;
      flex-direction: column;
      .top_cell,
      .bottom_cell {
        flex: 1;
        text-align: center;
        display: flex;
        align-items: center;
        padding: 10px;
        justify-content: center;
        font-weight: bold;
        font-size: 1.1em;
        animation: buttonPulse 2s;
        box-shadow: inset 0 0 25px rgba($color: #000, $alpha: 0.3);
        
      }
      .top_cell {
        color: #fff;
        background: #5f3f67;
        border-bottom: 1px solid #0a0a0b;
      }
      .bottom_cell {
        background: #199a53;
        color: #fff;
      }
    }
  }
}
